<h1>Talk to the Coach</h1>
<div class="text-center formdiv">
<form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" class="form-control" name="ask" placeholder="what time is it?">
  <input type="submit" class="btn btn-primary" value="Go on!">
</form>
</div>
